
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
.start-menu {
	position: absolute !important; /* XXX overriding relative; could instead of using :after use border-image */
	left: 2px;
	bottom: 30px;
	width: calc(200px + 30px); /* Increased width for new menu items + titlebar */
	height: auto;
	min-height: 180px;
	max-height: calc(100vh - 32px); /* based on taskbar height TODO: do this differently, probably in JS, since the taskbar will be resizable (or could be) */
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
.start-menu-titlebar {
	flex: 0 0 auto;
	width: 30px;
	background-color: rgb(0, 0, 128) !important;
	background-color: var(--Hilight) !important;
	background-image: none !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 8px;
}
.start-menu-titlebar-text {
	color: rgb(255, 255, 255);
	color: var(--HilightText);
	display: flex;
	font-size: 11px;
	font-family: "VT323", "MS Sans Serif", "Segoe UI", sans-serif;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
	letter-spacing: 1px;
	white-space: normal;
	text-shadow: none;
	line-height: 1.1;
}
.start-menu-titlebar-text .windows-text {
	font-weight: bold;
	opacity: 0.8;
	display: block;
	font-size: 28px;
}
.start-menu-titlebar-text .windows-number {
	font-weight: 100;
	color: rgb(255, 255, 255);
	color: var(--HilightText);
	font-family: unset;
	opacity: 1;
	display: block;
	font-size: 28px;
}	
.start-menu-content {
	overflow: visible;
	position: relative;
	width: 200px;
	background-color: rgb(192, 192, 192);
	background-color: var(--ButtonFace);
}
.start-menu ul {
	list-style: none;
	padding: 0;
}
.start-menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.start-menu-item {
	display: flex;
	align-items: center;
	padding: 3px 4px;
	margin: 0;
	cursor: pointer;
	user-select: none;
	position: relative;
	min-height: 22px;
	font-size: 11px;
	font-family: "MS Sans Serif", "Segoe UI", sans-serif;
	color: rgb(0, 0, 0);
	color: var(--WindowText);
}
.start-menu-item:hover {
	background-color: rgb(0, 0, 128);
	background-color: var(--Hilight);
	color: rgb(255, 255, 255);
	color: var(--HilightText);
}
.start-menu-item .menu-icon {
	margin-right: 8px;
	width: 16px;
	height: 16px;
	display: block;
	flex-shrink: 0;
	object-fit: contain;
}
.start-menu-item .menu-label {
	flex: 1;
	font-size: 11px;
	line-height: 1.2;
}
.start-menu-item .menu-arrow {
	margin-left: auto;
	font-size: 8px;
	color: rgb(0, 0, 0);
	color: var(--WindowText);
	flex-shrink: 0;
	padding-right: 4px;
}
.start-menu-item:hover .menu-arrow {
	color: rgb(255, 255, 255);
	color: var(--HilightText);
}
.start-menu-divider {
	height: 1px;
	background-color: rgb(128, 128, 128);
	background-color: var(--ButtonShadow);
	border-top: 1px solid rgb(255, 255, 255);
	border-top: 1px solid var(--ButtonHilight);
	margin: 3px 4px;
}
.start-submenu {
	position: absolute;
	left: 100%;
	top: 0;
	background-color: rgb(192, 192, 192);
	background-color: var(--ButtonFace);
	border-top: 1px solid rgb(255, 255, 255);
	border-top: 1px solid var(--ButtonHilight);
	border-left: 1px solid rgb(255, 255, 255);
	border-left: 1px solid var(--ButtonHilight);
	border-right: 1px solid rgb(128, 128, 128);
	border-right: 1px solid var(--ButtonShadow);
	border-bottom: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid var(--ButtonShadow);
	box-shadow: 1px 1px 0 rgb(0, 0, 0) inset;
	box-shadow: 1px 1px 0 var(--ButtonDkShadow) inset;
	padding: 2px 0 0 0;
	min-width: 200px;
	max-width: 300px;
	z-index: 5002;
	margin-left: 1px;
}
.start-submenu ul {
	list-style: none;
	margin: 0;
	padding: 0 0 2px 0;
}
.submenu-item {
	display: flex;
	align-items: center;
	padding: 3px 4px;
	margin: 0;
	cursor: pointer;
	user-select: none;
	position: relative;
	min-height: 22px;
	font-size: 11px;
	font-family: "MS Sans Serif", "Segoe UI", sans-serif;
	color: rgb(0, 0, 0);
	color: var(--WindowText);
}
.submenu-item:hover {
	background-color: rgb(0, 0, 128);
	background-color: var(--Hilight);
	color: rgb(255, 255, 255);
	color: var(--HilightText);
}
.submenu-item .submenu-icon {
	margin-right: 8px;
	width: 16px;
	height: 16px;
	display: block;
	flex-shrink: 0;
	object-fit: contain;
}
.submenu-item .submenu-label {
	flex: 1;
	font-size: 11px;
	line-height: 1.2;
}
.submenu-item .submenu-arrow {
	margin-left: auto;
	font-size: 8px;
	color: rgb(0, 0, 0);
	color: var(--WindowText);
	flex-shrink: 0;
	padding-right: 4px;
}
.submenu-item:hover .submenu-arrow {
	color: rgb(255, 255, 255);
	color: var(--HilightText);
}
.submenu-divider {
	height: 1px;
	background-color: rgb(128, 128, 128);
	background-color: var(--ButtonShadow);
	border-top: 1px solid rgb(255, 255, 255);
	border-top: 1px solid var(--ButtonHilight);
	margin: 3px 4px;
}

/* Mobile Responsive Styles for Start Menu */
@media screen and (max-width: 768px) {
	.start-menu {
		width: calc(180px + 30px);
		max-width: calc(100vw - 10px);
	}
	.start-menu-content {
		width: 180px;
		max-width: calc(100vw - 40px);
	}
	.start-menu-item .menu-label,
	.submenu-item .submenu-label {
		font-size: 10px;
	}
	.start-menu-item .menu-icon,
	.submenu-item .submenu-icon {
		font-size: 14px;
		width: 18px;
		margin-right: 6px;
	}
	.start-submenu {
		min-width: 180px;
		max-width: calc(100vw - 50px);
	}
	/* Prevent hover effects on touch devices */
	.start-menu-item:hover,
	.submenu-item:hover {
		background-color: transparent;
		color: inherit;
	}
	.start-menu-item:active,
	.submenu-item:active {
		background-color: rgb(0, 0, 128);
		background-color: var(--Hilight);
		color: rgb(255, 255, 255);
		color: var(--HilightText);
	}
}

@media screen and (max-width: 480px) {
	.start-menu {
		width: calc(160px + 30px);
		max-width: calc(100vw - 10px);
	}
	.start-menu-content {
		width: 160px;
		max-width: calc(100vw - 40px);
	}
	.start-menu-titlebar {
		width: 25px;
	}
	.start-menu-titlebar-text {
		font-size: 9px;
		letter-spacing: 1px;
	}
	.start-menu-item,
	.submenu-item {
		padding: 2px 3px;
		min-height: 20px;
	}
	.start-menu-item .menu-label,
	.submenu-item .submenu-label {
		font-size: 9px;
	}
	.start-menu-item .menu-icon,
	.submenu-item .submenu-icon {
		font-size: 12px;
		width: 16px;
		margin-right: 4px;
	}
	.start-submenu {
		min-width: 160px;
		max-width: calc(100vw - 50px);
	}
	.start-menu-item .menu-arrow,
	.submenu-item .submenu-arrow {
		font-size: 7px;
		padding-right: 2px;
	}
	/* Prevent hover effects on touch devices */
	.start-menu-item:hover,
	.submenu-item:hover {
		background-color: transparent;
		color: inherit;
	}
	.start-menu-item:active,
	.submenu-item:active {
		background-color: rgb(0, 0, 128);
		background-color: var(--Hilight);
		color: rgb(255, 255, 255);
		color: var(--HilightText);
	}
}

.desktop {
	height: 100%;
	display: flex;
}
.folder-view {
	position: relative;
	flex: 1;
	overflow: auto;
}
.desktop .folder-view {
	overflow: hidden;
	/* Add breathing room from screen edges for desktop icons */
	padding: 24px 16px 16px 24px;
}
.taskbar {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px; /* not including outline part of border */
	display: flex;
	flex: 1;
}
/* .taskbar-button is generally .task or .start-button for now */
.taskbar button,
.taskbar-divider,
.tray {
	margin: 2px;
}
.taskbar-divider {
	margin-right: 0px;
	margin-left: 0px;
	/* TODO: maybe make that 2px rule padding on the taskbar instead and avoid resetting this */
}
.taskbar button {
	line-height: 18px;
	padding: 3px 4px;
	overflow: hidden; /* TODO: If tons and tons of tasks don't show icons? (smaller than width of an icon?) */
	display: flex;
	flex-direction: row;
	align-items: center;
	/* (justify-content: flex-start;) */
}
.taskbar button .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}
.taskbar .start-button {
	flex-shrink: 0;
	padding: 3px 6px;
}
.tray {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	/* align-content: center; */
	/* justify-content: center; */
	line-height: 26px;
	box-sizing: border-box;
	vertical-align: middle;
}
.tray-icons {
	display: flex;
	align-items: center;
	margin-left: 2px; /* XXX basically 1px, but 2px because of the way the border is done */
}
.tray-icon {
	margin-left: 1px;
}
.taskbar-time {
	width: 60px;
	text-align: center;
}
/* TODO: offset task button contents down a px when depressed... actually most buttons */
.tasks {
	display: flex;
	flex: 1;
	height: 100%;
	min-width: 0; /* reset implicit min-width from flexbox */
}
.task {
	max-width: 200px;
	width: 50%;
	text-align: left;
}
.task img {
	padding-right: 4px;
	flex: 0 0 auto;
}
.desktop,
.folder-view,
.taskbar,
.start-button,
.tasks,
.task,
.os-window,
.window-titlebar,
.window-title {
	cursor: default;
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.os-window {
	display: flex;
	flex-direction: column;
}
.window-titlebar .icon {
	vertical-align: bottom;
}
.window-content {
	margin: 0;
	padding: 0;
	flex: 1;
}
.desktop-icon {
	display: inline-block;
	vertical-align: bottom; /* with inline-block, always */
	text-align: center;
}
.desktop-icon .icon-wrapper {
	display: inline-block;
	vertical-align: bottom; /* with inline-block, always */
	position: relative;
}
.desktop-icon .icon-wrapper,
.desktop-icon .icon-wrapper .selection-effect {
	width: var(--icon-size, 32px);
	height: var(--icon-size, 32px);
}
.desktop-icon .title {
	line-height: 13px;
	font-size: 9px;
	overflow: hidden;
	text-overflow: ellipsis; /* TODO: make this work with multiline text! This is apparently a limitation of this CSS property and there are various crazy CSS hacks and JS libs to solve this. */
	word-wrap: break-word; /* All browsers since IE 5.5+ */
	overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
}
.desktop-icon:not(.focused) .title {
	/* max-height: 2em would only work with line-height: 1 */
	max-height: calc(13px * 2);
}
.desktop-icon.focused {
	z-index: 1; /* for multi-line title display */
}
.desktop-icon .title input {
	display: flex;
	width: 100%;
}
/* Fix dragging things (like windows) over iframes */
.drag iframe {
	pointer-events: none;
}

.marquee {
	pointer-events: none;
}

.window-content .button-group {
	width: 85px;
}
.window-content .button-group > button {
	width: 95%;
	padding: 3px 5px;
}

.help-window .window-content {
	display: flex;
	flex-flow: column;
}
.help-window .main {
	flex: 1;
	display: flex;
	flex-flow: row;
}
.help-window .toolbar button {
	width: 55px;
	height: 40px;
	padding: 0;
}
.help-window .toolbar button span {
	display: inline-flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/* flex centering + preventing overflow wrap means the font can be too big and it'll still stay centered */
	font-size: 12px;
	white-space: pre;
	justify-content: center;
}
.help-window .toolbar button {
	position: relative;
}
.help-window .toolbar button .icon {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.help-window .toolbar button .icon {
	background-image: url("images/help-viewer-toolbar-icons-grayscale.png");
}
.help-window .toolbar button:not([disabled]):hover .icon {
	background-image: url("images/help-viewer-toolbar-icons.png");
}
.help-window .toolbar button[disabled] .icon {
	filter: saturate(0%) opacity(50%); /* fallback */
	filter: url("#disabled-inset-filter");
}
.help-window .contents {
	background: white;
	background: var(--Window);
	color: var(--WindowText);
	flex-basis: 300px; /* normally the default is 200px, but that leaves a scrollbar and we don't have rollover viewing of longer titles (@TODO) */
	flex-grow: 0;
	flex-shrink: 0;
	overflow: auto;
}
.help-window ul {
	margin: 0;
	padding: 0;
}
.help-window li {
	display: block;
	white-space: nowrap;
}
.help-window .item {
	display: inline-block;
}
.help-window .folder:not(.expanded) ul {
	display: none;
}
.help-window iframe {
	flex: 1;
	width: 0;
}
.help-window li ul {
	padding-left: 16px;
}
.help-window li:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background-position: 0 0;
	margin-right: 2px;
}
.help-window .folder.expanded:before {
	background-position: -16px 0;
}
.help-window .page:before {
	background-position: -32px 0;
}

::before, ::after {
	pointer-events: none;
}

.cursor-bully * {
	cursor: inherit !important;
}
.loading-program * {
	cursor: progress;
}

#webamp-context-menu {
	z-index: 5000000 !important;
}
